.survey_question, #survey_intro_div{
   background-color: #238fe2 !important;
   color: #fefefe;
}

#survey_intro h1{
   color: #366547;
}

.survey_answers label{
   color: #366547;
}

.szemelyes label{
   color: #366547;
}

#frame {
   
}

#elkuld input{    
    background-color: #fff;
    border-color: #238fe2;
}

#elkuld input:hover{
    background-color:#238fe2;
    border-color: #eee;
    color: #fff;
}