.survey_question, #survey_intro_div{
   background-color: #860000 !important;
   color: #eee;
}

#survey_intro h1{
   color: #860000;
}

.survey_answers label{
   color: #860000;
}

.szemelyes label{
   color: #860000;
}

#languages h3{
   color: #860000;
}

#languages span{
   background-color: #860000 !important;
   color: #eee;
}

#elkuld input{    
    background-color: #fff;
    border-color: #860000;
}

#elkuld input:hover{
    background-color:#860000;
    border-color: #eee;
    color: #fff;
}