.survey_question, #survey_intro_div{
   background-color: #749929 !important;
   color: #eee;
}

#survey_intro h1{
   color: #749929;
}

.survey_answers label{
   color: #749929;
}

.szemelyes label{
   color: #749929;
}

#languages h3{
   color: #749929;
}

#languages span{
   background-color: #749929 !important;
   color: #eee;
}

#elkuld input{    
    background-color: #fff;
    border-color: #749929;
}

#elkuld input:hover{
    background-color:#749929;
    border-color: #eee;
    color: #fff;
}