body{
    background-color: transparent;
}

#iframe{
    margin: 0px;
    float: left;
    margin-left: -40px;
}

#user_box{
   display: none; 
}

#homegomb {
    display: none;
}

#footer {
    display: none;
}

.a2a_dd {
    display: none;
}