body{
    background-color: #cc3399;
}

#frame{
    background-color: #ffffff;
    //border: 1px solid #666;
}

#head{
    padding-top: 30px;
    height: 50px;
    background-color: #87114b;
    color: #ffffff;
}

#languages span {
    
    background-color: #fdc5df;
    color: #333333;
}

#languages h3{
    color: #333333;
}

#survey_intro{
    color: #333333;
}


#survey_intro div{
    background-color: #fdc5df;
}

.survey_question{
    background-color: #fdc5df;
    color: #333333;
}

#survey_intro h1{
    color: #333333;
    margin-top: 0px;
    height: 21px;
    padding-top: 28px;
    font-size: 18px;
    margin-left: 15px;
}