@font-face{ 
	font-family: 'Roboto_C';
	src: url('fonts/RobotoCondensed-Regular-webfont.eot');
	src: url('fonts/RobotoCondensed-Regular-webfont.eot?iefix') format('eot'),
	     url('fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
	     url('fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
	     url('fonts/RobotoCondensed-Regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'Roboto_CB';
	src: url('font/RobotoCondensed-Bold-webfont.eot');
	src: url('font/RobotoCondensed-Bold-webfont.eot?iefix') format('eot'),
	     url('font/RobotoCondensed-Bold-webfont.woff') format('woff'),
	     url('font/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
	     url('font/RobotoCondensed-Bold-webfont.svg#webfont') format('svg');
}

body{
   font-family: 'Roboto_C', Arial;
    background-color: #eee;//#eef3fa;
}

#frame{
    background-color: #fefefe;
	border: 1px solid #999;
	padding: 0px;
}

#head{
	clear: both;
	/*border-bottom: 1px solid #999;*/
    background-image: url('graphics/banner1.jpg');
    background-repeat: no-repeat;
    color: #ffffff;
	height: 250px;
}

h1{
   font-family: 'Roboto_CB', Arial;
   font-weight:normal !important;
}

#head h1{
   font-family: 'Roboto_CB', Arial;
   clear: both;
   color: #339933;
   float: left;
   margin: 150px 0px 0px 30px;
}

#languages span {
    background-color: #99aec3;
}

#survey_intro{
    color: #000000;
}


#survey_intro div{
    background-color: #99aec3;
}

.survey_question{
    background-color: #99aec3;
}

#survey_intro h1{
    color: #003567;
    margin-top: 0px;
    height: 21px;
    padding-top: 28px;
    font-size: 18px;
    margin-left: 15px;
	font-family: 'Roboto_CB', Arial;
   font-weight:normal !important;
}

#survey_intro div{
   font-family: 'Roboto_CB', Arial;
   
}

#head a{
   color: #fefefe;
   text-decoration: none;
}

#head_menu {
   width: 100%;
   float: left;
   background-color: rgba(1,1,1,.6);
}

#menu a{
   color: #fefefe;
   padding: 8px 30px 8px 30px;
}

#menu a:hover{
   color: #FFD814;
}

#content {
   min-height: 300px;
}

.login{
    width: 280px;
    min-height: 100px;
    float: right;
	padding: 20px;
	margin: 30px;
	border-radius: 10px;
    border: 1px solid #dfdfdd;
    background-color: #eaeae8;
}

.login h2{
   margin: -4px 0 4px 0;
   font-weight: normal;
   color: #222;
   border-bottom: 1px solid #aaa;
}

.login label{
    clear: both;
	margin: 10px 0px 3px 0px;
	width: 80%;
}

.login input{
   clear: both;
}

.login input[type="text"], .login input[type="password"]{
    height: 28px;
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-family: 'Roboto_CB', Arial;
	color: #444;
}

.login input[type="submit"]{
   color: #fff;
   background-color: #299429;
   border: 0px;
   border-radius: 5px;
   padding: 8px;
   margin: 20px auto 0px auto;
   font-size: 12px;
   cursor: pointer;
   font-family: 'Roboto_CB', Arial;
   width: 100px;
}

.login input[type="submit"]:hover{
   background-color: #33aa33;
   font-size: 12px;
   width: 100px;
}

.login div{
   width: 200px;
   float: left;
   margin: 20px 0px 0px 20px;
   border: 0px solid #cecece;
   text-align: left;
}

.login div label{
   clear: none;
   margin-top: 6px;
   margin-left: 20px;
}

.login input[type="radio"]{
   float: left;
   margin: 10px auto 0px auto;
}

.login a[href="?p=regisztracio"]{
   color: #fff;
   background-color: #CC9900;
   border: 0px;
   border-radius: 5px;
   padding: 8px;
   margin: 20px auto 0px auto;
   text-decoration: none;
   display: block;
   float: right;
   width: 90px;
   font-size: 12px;
   text-align: center;
   font-family: 'Roboto_CB', Arial;
}

.login a[href="?p=regisztracio"]:hover{
   background-color: #E6AC00;
}

.kerdoiveim {
   margin: 20px 0px 20px 0px;
}

.kerdoiveim th{
   font-family: 'Roboto_CB', Arial;
   font-weight: bolder;
   font-size: 13px;
}

.kerdoiveim td{
   text-align: center;
   width: 70px;
}

.kerdoiveim td:first-child{
   text-align: left;
   width: 350px;
}

#footer{
   clear: both;
   margin-top: 40px;
   background-color: #333;
   height: 80px;
   color: #fefefe;
}

#user_box{
   margin: 3px;
}