<!--
<form action="" method="post" style="float: right; margin-right: 20px; font-size: 14px;">
			Nyelv:
			<select name="lang">
				<option value="" {if $smarty.session.lang eq ''}{/if}></option>
				<option value="hu" {if $smarty.session.lang eq 'hu'}selected="selected"{/if}>hu</option>
				<option value="en" {if $smarty.session.lang eq 'en'}selected="selected"{/if}>en</option>
				<option value="ro" {if $smarty.session.lang eq 'ro'}selected="selected"{/if}>ro</option>
			</select>
			<input type="submit" name="submit" value="OK" />
</form>
-->