<div id="nyilvanos_kerdoivek">
    <h2>{uj_nyilvanos_kerdoivek}</h2>
    {nyilvanos_kerdoivek}
	<a href="?p=nyilvanos" class="nyilvanos_link">További nyilvános kérdőívek...</a>
</div>

<form action="" name="login" method="post" class="login">
  <h2>{bejelentkezes}</h2>
  <label>{azonosito}:</label><input type="text" name="azonosito" value="" />
  <label>{jelszo}:</label><input type="password" name="jelszo" value="" />
  <input name="send" type="submit" value="{bejelentkezes}" />
  <a href="?p=regisztracio">{regisztracio}</a>
</form>