
<form action="" name="login" method="post" class="login">
  <label>Azonosító:</label><input type="text" name="azonosito" value="" />
  <label>Jelszó:</label><input type="password" name="jelszo" value="" />
  <input name="send" type="submit" value="Bejelentkezés" />
  <a href="?p=regisztracio">Regisztráció</a>
</form>

<!--
<form action="" name="register" method="post">
    <label>Azonosító:</label><input type="text" name="azonosito" value="" />
    <label>Email:</label><input type="text" name="email" value="" />
    <label>Jelszó:</label><input type="text" name="jelszo" value="" />
    <label>Jelszó mégegyszer:</label><input type="text" name="jelszo2" value="" />
    <input name="send" type="submit" value="Regisztrál" />
</form>
-->