<div id="nyilvanos_kerdoivek">
    <h2>Legfrissebb nyilvános kérdőívek</h2>
    {nyilvanos_kerdoivek}
</div>

<form action="" name="login" method="post" class="login">
  <h2>{bejelentkezes}</h2>
  <label>{azonosito}:</label><input type="text" name="azonosito" value="" />
  <label>{jelszo}:</label><input type="password" name="jelszo" value="" />
  <input name="send" type="submit" value="{bejelentkezes}" />
  <a href="?p=regisztracio">{regisztracio}</a>
</form>

<!--
<form action="" name="register" method="post">
    <label>Azonosító:</label><input type="text" name="azonosito" value="" />
    <label>Email:</label><input type="text" name="email" value="" />
    <label>Jelszó:</label><input type="text" name="jelszo" value="" />
    <label>Jelszó mégegyszer:</label><input type="text" name="jelszo2" value="" />
    <input name="send" type="submit" value="Regisztrál" />
</form>
-->