<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{session_lang}" lang="{session_lang}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Kérdőív</title>
	<script type="text/javascript" src="js/jscripts.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body{body_onload}>
        <!--
        <div>{tartalom}</div>
        -->
        <div id="frame">
            <div id="head">homeup.eu</div>
            <div id="content">
                
                <div id="intro">
                    <div id="languages">
                        <h3>{nyelv_valasztas}</h3>
                        <span id="magyar_zaszlo"><img src="graphics/magyar_zaszlo.png" alt="{magyar}" />{magyar}</span>
                        <span id="angol_zaszlo"><img src="graphics/angol_zaszlo.png" alt="{angol}" />{angol}</span>
                        <!--
                        <span id="nemet_zaszlo"><img src="graphics/nemet_zaszlo.png" alt="{nemet}" />{nemet}</span>
                        -->
                    </div>
                    <div id="survey_intro">
                        <h1>{kerdoiv_cim}</h1>
                        <div>
                            {kerdoiv_leiras}
                        </div>
                    </div>
                </div>
                
                <div id="survey">
                    <form action="?" name="form_survey" id="form_survey" method="post">
                    
                    <div class="szemelyes" style="{adat_off}">                        
                        <label>{eletkor}</label>
                        <select name="eletkora">
                            {request_eletkora_value}
                            <option value="0">---</option>
                            <option value="18">&lt;18</option>
                            <option value="18-25">18-25</option>
                            <option value="25-35">25-35</option>
                            <option value="35-45">35-45</option>
                            <option value="45">45&lt;</option>
                        </select>
                        <br />
                        <label>{neme} </label>
                        <select name="neme">
                            {request_neme_value}
                            <option value="0">---</option>
                            <option value="{ferfi}">{ferfi}</option>
                            <option value="{no}">{no}</option>
                        </select>
                        <br />
                        <label>{orszag}</label>
                        <select name="lakhely">
                            <option value="0">---</option>
                            {orszag_combo}
                        </select>
                        <br />
                        <label>{foglalkozas}</label>
                        <input type="text" name="foglalkozas" value="{request_foglalkozas_value}" />
                        <br />
                    </div>
                        
                    {kerdes_blokk}
                    
                    <br />
                                    <div style="{adat_off}">
                    <div id="e-mail"> <p>{email_bekeres}</p>
                    </div>    
                    <div class="szemelyes">
                        <label>E-mail:</label>
                        <input type="text" name="email" value="{request_email_value}" />
                    </div>                      
                        <div id="elkuld"><input type="submit" name="submit" value="{elkuldes}"/>
                        <label> &gt; &gt; &gt;</label><img src="graphics/postalada.png" id="posta" alt="" /></div>
					</div>
                    </form>
                </div>
                
            </div>
            <div id="footer"></div>
            <br style="clear: both;" />
        </div>
		
		 <div id="popup">
			<div class="q_box">
			   {popup_tartalom}
			   {hibauzenet}
                           {figy_uzenet}
                           <div id="rendben_gomb">Vissza</div>
                           {mentes_gomb}
			 </div>
                 </div>

		<script type="text/javascript" src="js/events.js"></script>
    </body>
</html>
