<h1>Kérdőív adatlap</h1>

<div id="control_box">
   <h3>Vezérlőpult</h3>
    <a href="?p=eredmeny&kerdoiv={kerdoiv_sorszam}">Eredmények</a><br />
    <a href="?p=kerdoiv&mod=1&kerdoiv={kerdoiv_sorszam}">Módosítás</a><br />
    <a href="?p=kerdoiv&kerdoiv={kerdoiv_sorszam}">Kitöltés</a>
    <div id="lepteto">
            <a href="?p=kerdoiv_adatlap&kerdoiv={elozo_kerdoiv}" /></a>
            <span>{hanyadik_kerdoiv}/{osszes_kerdoiv}</span>
            <a href="?p=kerdoiv_adatlap&kerdoiv={kovetkezo_kerdoiv}" /></a>
    </div>
	<a href="?p=kerdoiveim" class="back">Vissza</a>
    <br style="clear: both;" />
</div>

<div id="kerdoiv_adatlap">
    <h2>{kerdoiv_cim}</h2>
    <p>{kerdoiv_leiras}</p>
    {zaszlok}
    <br/><br/><br/><br/><br/><br style="clear: both;"/>
    <p>{nyilvanos}</p>
    <p>{kerdesek_szama}</p>
    <p>{valaszadok_szama}</p>
    <p>{created_date}</p>
    <p>{activated_date}</p>
    <p>{expire_date}</p>
</div>

