<h1>{urlap_cim}</h1>
<form action="" method="post" class="ujkerdes">
    <div id="control_box">
        <h3>Vezérlőpult</h3>
        <div {control_box_ki}>
        <label>Látható nyelvek:</label>
        <img src="graphics/magyar_zaszlo_k.png" id="hu" alt="magyar" onclick="nyelv_kapcs(this.id)" {control_hu} />
        <img src="graphics/angol_zaszlo_k.png" id="en" alt="angol" onclick="nyelv_kapcs(this.id)" {control_en} />
        <img src="graphics/nemet_zaszlo_k.png" id="de" alt="német" onclick="nyelv_kapcs(this.id)" {control_de} />
        </div>
        <input type="submit" name="mentes" />
        <a href="?p=kerdoiveim" class="back" />vissza</a>
    </div>
    <!--
    <label>Milyen nyelven</label>
    
    <label>HU</label><input type="checkbox" name="hu" />
    <label>EN</label><input type="checkbox" name="en" />
    <label>DE</label><input type="checkbox" name="de" />
    -->
    <input type="hidden" name="sorszam" value="{id}" />
    
    <label>Milyen nyelveken szeretnéd elkészíteni a kérdőívet?</label>
    <div>    
    <label>angol</label><input type="checkbox" {checked_en} name="check_en" onclick="nyelv_kapcs('en')" /><br />
    </div>
    <div>
    <label>német</label><input type="checkbox" {checked_de} name="check_de" onclick="nyelv_kapcs('de')" /><br />
    </div>
    <div>
    <label>magyar</label><input type="checkbox" {checked_hu} name="check_hu" onclick="nyelv_kapcs('hu')" /><br />
    </div>
    
    <br style="clear: both;"/>
    
    <label>Cím</label>
    <input type="text" name="cim_en" id="cim_en" value="{cim_en}" {cim_enx}/>
    <input type="text" name="cim_de" id="cim_de" value="{cim_de}" {cim_dex}/>
    <input type="text" name="cim_hu" id="cim_hu" value="{cim_hu}" {cim_hux}/>
    <label>Leírás</label>
    <textarea name="leiras_en" id="leiras_en"{leiras_enx}>{leiras_en}</textarea>
    <textarea name="leiras_de" id="leiras_de"{leiras_dex}>{leiras_de}</textarea>
    <textarea name="leiras_hu" id="leiras_hu"{leiras_hux}>{leiras_hu}</textarea>
    <label>Zárás</label>
    <textarea name="zaras_en" id="zaras_en"{zaras_enx}>{zaras_en}</textarea>
    <textarea name="zaras_de" id="zaras_de"{zaras_dex}>{zaras_de}</textarea>
    <textarea name="zaras_hu" id="zaras_hu"{zaras_hux}>{zaras_hu}</textarea>
    <br style="clear:both;" />
    <label style="width: 230px; float: left;">A kérdőív eredményei nyilvánosak?</label>
    <input type="checkbox" name="nyilvanos" style="margin-top: 15px;" {checked_nyilvanos} />
	<br style="clear:both;" />
	
	<label style="width: 230px;">Választott stílus:</label>
	<div id="stilusok">
	  <div>
		 <img src="graphics/stilus_alap.jpg" alt="" />
		 <input type="radio" name="stilus" value="0" {checked_stilus_alap} />
	  </div>
	  <div>
		<img src="graphics/stilus_piros.jpg" alt="" />
		<input type="radio" name="stilus" value="1" {checked_stilus_1} />
	  </div>
	  <div>
		<img src="graphics/stilus_zold.jpg" alt="" />
		<input type="radio" name="stilus" value="2" {checked_stilus_2} />
	  </div>
	</div>
	
	<br style="clear:both;" />
    <label style="width: 230px;">A kérdőív aktiválásának dátuma</label>
	<input type="text" name="aktivalas_datum" id="aktivalas_datum" value="{aktivalas}" style="width: 90px;" />
	<br style="clear:both;" />
    <label style="width: 230px;">A kérdőív lejáratának dátuma</label>
	<input type="text" name="lejarat_datum" id="lejarat_datum" value="{lejarat}" style="width: 90px;" />

    <br style="clear:both;" />
    <label>Milyen adatokat kérsz a kitöltőtől?</label>
    <div>
    <label>Neme</label><input type="checkbox" name="neme" /><br />
    </div><div>    
    <label>Kora</label><input type="checkbox" name="neme" /><br />
    </div><div>
    <label>Ország</label><input type="checkbox" name="neme" /><br />
    </div><div>
    <label>Város</label><input type="checkbox" name="neme" /><br />
    </div><div>
    <label>Foglalkozása</label><input type="checkbox" name="neme" />
    </div>
    <!-- stílus, főkép -->
    
    
    
    <!--
    <p><a href="?p=ujkerdes">Új kérdes rögzítése</a></p>
    -->
</form>