<form action="" method="post" class="ujkerdes">
    <!--
    <label>Milyen nyelven</label>
    
    <label>HU</label><input type="checkbox" name="hu" />
    <label>EN</label><input type="checkbox" name="en" />
    <label>DE</label><input type="checkbox" name="de" />
    -->
    
    <label>Cím</label><input type="text" name="cim" value="" />
    <label>Leírás</label><textarea name="leiras"></textarea>
    <br /><br /><br />
    <label>Milyen adatokat kérsz a kitöltőtől?</label>
    <div>
    <label>Neme</label><input type="checkbox" name="neme" /><br />
    </div><div>    
    <label>Kora</label><input type="checkbox" name="neme" /><br />
    </div><div>
    <label>Ország</label><input type="checkbox" name="neme" /><br />
    </div><div>
    <label>Város</label><input type="checkbox" name="neme" /><br />
    </div><div>
    <label>Foglalkozása</label><input type="checkbox" name="neme" />
    </div>
    <!-- stílus, főkép -->
    <p><a href="?p=ujkerdes">Új kérdes rögzítése</a></p>
</form>
