<form action="" method="post" class="ujkerdes">
    <label>Kérdés</label><input type="text" name="kerdes" value="" />
    Típusa
    <label>rádió</label><input type="radio" name="tipus" value="" />
    <label>select</label><input type="radio" name="tipus" value="" />
    <label>checkbox</label><input type="radio" name="tipus" value="" />
    <label>text</label><input type="radio" name="tipus" value="" />
    <label>textarea</label><input type="radio" name="tipus" value="" />
    <label>ranking</label><input type="radio" name="tipus" value="" />
    <label>Válaszok</label><input type="text" name="valasz_" value="" />
</form>

<a href="#">Vissza a kérdőívhez</a>