<h1>{urlap_cim}</h1>
<form action="" method="post" class="ujkerdes" >
    <input type="hidden" name="id" value="{id}" />
    <input type="hidden" name="kerdoiv_sorszam" value="{kerdoiv_sorszam}" />
    <label>Kérdés</label>
    <textarea name="kerdes">{kerdes_szoveg}</textarea>
    
    <label>Típusa</label>
    <div>
        <label>rádió</label>
        <input type="radio" name="tipus" value="radio" {check_radio} />
    </div>
    <div>
        <label>select</label>
        <input type="radio" name="tipus" value="select" {check_select} />
    </div>
    <div>
        <label>checkbox</label>
        <input type="radio" name="tipus" value="checkbox" {check_checkbox} />
    </div>
    <div>
        <label>text</label>
        <input type="radio" name="tipus" value="text" {check_text} />
    </div>
    <div>
        <label>textarea</label>
        <input type="radio" name="tipus" value="textarea" {check_textarea} />
    </div>
    <div>
        <label>ranking</label>
        <input type="radio" name="tipus" value="ranking" {check_ranking} />
    </div>
    <label>Válaszok</label>
	
	<div id="admin_valaszok" class="gridster" style="width: 660px; height: 260px; border: 0px solid #aaa;">
	  <ul id="csempek">
		 {valaszok2}
	  </ul>
	</div>
    <input type="submit" name="pluszvalasz" value="+ válasz hozzáadása">
    <input type="submit" name="mentes" value="módosítások rögzítése">
</form>
<br /><br />



	  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>	  
	  <script src="gridster/dist/jquery.gridster.js" type="text/javascript" charset="utf-8"></script>
	  <script type="text/javascript" src="csempe.js"></script>

<a href="?p=kerdoiv&mod=1&kerdoiv={kerdoiv_sorszam}">Vissza a kérdőívhez</a>