<form action="" method="post" class="ujkerdoiv">
    <!--
    <label>Milyen nyelven</label>
    
    <label>HU</label><input type="checkbox" name="hu" />
    <label>EN</label><input type="checkbox" name="en" />
    <label>DE</label><input type="checkbox" name="de" />
    -->
    
    <label>Cím</label><input type="text" name="cim" value="" />
    <label>Leírás</label><textarea name="leiras"></textarea>
    <br /><br /><br />
    Milyen adatokat kérsz a kitöltőtől?
    <label>Neme</label><input type="checkbox" name="neme" /><br />
    <label>Kora</label><input type="checkbox" name="neme" /><br />
    <label>Ország</label><input type="checkbox" name="neme" /><br />
    <label>Város</label><input type="checkbox" name="neme" /><br />
    <label>Foglalkozása</label><input type="checkbox" name="neme" />
    <!-- stílus, főkép -->
</form>
<a href="?p=ujkerdes">Új kérdes rögzítése</a>